@charset "UTF-8";
/* CSS Document */


*{
	margin:0;
	padding:0;
	}
	
::-webkit-scrollbar {
      width: 0px;
	  height: 0px;
} 

::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.0); 
} 
 
::-webkit-scrollbar-thumb {
      background-color: #C5CCCD; 
} 
 
::-webkit-scrollbar-button {
	  width: 0px;
	  height: 0px;
      background-color: #7c2929;
} 
 
::-webkit-scrollbar-corner {
      background-color: black;
	  width: 0px;
	  height: 0px;
} 

body {
	background:url(../images/work_new/the_ghost_of/bg.jpg) no-repeat top left;
	background-color:#151515;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	overflow: hidden;
	z-index: -100;
}
	
#container {
	width: 1366px;
	height: 768px;
	margin-left: auto;
	margin-right: auto;
	background: no-repeat center center fixed;
	background-size:cover;
	overflow: hidden;
	z-index: -90;
	}
	
#invisible-header {
	float:left;	width: 100%;
	height: 30px;

	}

#header {
	float:left;
	width: 100%;
	margin: 60px 50px 30px 0px;
	position: absolute;
	}
	
#nav {
	font-family: "Mezzana font";
	font-size: 16px; 
	float: left;
	margin:10px 0px 0px 570px;
	width: 550px;
	letter-spacing: 8px;
	position: absolute;
	color: #C5CCCD;
	cursor: default;
	}
	
.theGhostOf {
	float: left;
	}
	
.lineOne {
	float:left;
	width: 1px;
	height: 30px;
	background-color: #C5CCCD;
	margin: -7px 18px 0px 15px;
	}
	
.forFriends {
	float:left;
	}
	
.lineTwo {
	float:left;
	width: 1px;
	height: 30px;
	background-color: #C5CCCD;
	margin: -7px 18px 0px 15px;
	}
	
.info {
	float:left;
	}
	
#title {
	font-family: "Mezzana font";
	font-size: 16px; 
	letter-spacing: 7px;
	width: 350px;
	position: absolute;
	margin: 10px 310px 0px 60px;
	float: left;
	}
	
	
a {
	text-decoration: none;
	color:#C5CCCD;
	}
	
@font-face {
	font-family: "Mezzana font";
	src: url(../font/Mezzana%20font.ttf)	
	}

.title {
	position: relative;
	margin: 20px 0px 0px 20px;
	float: left;
	}
	
	
	
#work-container {
	width: 50%;
	height: 525px;
	max-width: 525px;
	max-height: 525px;
	min-width: 200px;
	min-height: 200px;
	float: left;
	background: contain;
  	position: absolute;
	padding: 20px 20px 20px 20px;
	background-color: rgba(0,0,0,0.7);
	margin: 137px 0px 0px 260px;

	}

#work {
	height: 100%;
	width: 100%;
	max-width: 590px;
	max-height: 590px;
	float: left;
	background-size:contain;
  	position: relative;
	}
	
#invisible-work-container {
	width: 100%;
	height: 100%;
	min-height: 300px;
	min-width: 300px;
	max-height: 585px;
	max-width: 800px;
 	position: absolute;
	margin: 0px 0px 0px 0px;
	top: 0;
	left: 0;
	background: pink;
	}

#words-container {
	background-color: rgba(0,0,0,0.7);
	height: 300px;
	width: 220px;
	position: absolute;
	float: left;
	margin: 137px 0px 0px 838px;  
	padding: 20px; 
	background: contain;
	overflow-x: scroll;
	}
	
#tgo-thumbs {
	width: 172px;
	height: 417.5px;
	margin: 160px 0px 100% 60px;
	position: absolute;
	float: left;
	overflow:scroll;
}

#ff-thumbs {
	width: 172px;
	height: 417.5px;
	margin: 160px 0px 100% 60px;
	position: absolute;
	float: left;
	overflow:scroll;
}
	
#tgo-thumbs img {
	height: 80px;
	width: 80px;
	border: none;
	overflow: hidden;
	float:left;
	}
	
#ff-thumbs img {
	height: 80px;
	width: 80px;
	border: none;
	overflow: hidden;
	float:left;
	}
	
.lineVertical {
	background-color: #C5CCCD;
	height: 450px;
	width: 1px;
	margin: 137px 0px 100% 242px;
	position: absolute;
	float: left;
	}
	
.lineHorizontal {
	background-color: #C5CCCD;
	height: 1px;
	width: 150px;
	margin: 27px 0px 0px 0px;
	position: absolute;
	float: left;
	}
	
	
h1 {
	font-family: "Mezzana font";
	font-size: 16px;
	color: #C5CCCD;
	padding-bottom: 10px;
	letter-spacing: 4px;
	}
		
p {
	font-family: "Mezzana font";
	font-size: 12px;
	color: #C5CCCD;
	line-height:17px;
	letter-spacing: 1px;
	}
	

#info-nav {
	width: 300px;
	height: 50px;
	margin: 170px -25px 100% 30px;
	position: absolute;
	float: left;
	font-family: "Mezzana font";
	font-size: 14px; 
	letter-spacing: 5px;
	line-height: 10px;
	}
	
.about {
	width: 100px;
	}

.hidden {
	display: none;
	}
	
.info-box-nav {
	font-family: "Mezzana font";
	font-size: 15px;
	color: #C5CCCD;
	padding-bottom: 10px;
	letter-spacing: 5px;
	float:left;
	margin: 20px 30px 5px 30px;
	}
	
#info-box {
	font-family: "Mezzana font";
	font-size: 15px;
	color: #C5CCCD;
	line-height: 20px;
	letter-spacing: 1px;
	}
	
#me-body {
	margin: 30px 0px 0px 30px;
	float: left;
	}
	
#tgo-body {
	margin: 30px 0px 0px 30px;
	float: left;
	}
	
#contact-body {
	margin: 30px 0px 0px 30px;
	float: left;
	}
	
#follow-box {
	height: auto;
	width: 60px;
	position: absolute;
	margin: 137px 0px 0px 835px;  
	display: none;
	}
	
.follow-icons {
	height: 40px;
	width: 40px;
	background: contain;
	margin: 0px 0px 5px 0px;
	}
	
#bandcamp {
	margin: 500px 0px 0px 840px;
	position: absolute;
	float: left;
	}


div.coffee {
	background:url(../images/work_new/the_ghost_of/coffee.jpg) no-repeat top center;
}

div.deer {
	background:url(../images/work_new/the_ghost_of/deer.jpg) no-repeat top center;
}
	
div.test {
	background:url(../images/work_new/the_ghost_of/paper.jpg) no-repeat top center;
}
	
div.butterfly {
	background:url(../images/work_new/the_ghost_of/butterfly.jpg) no-repeat top center;
}

div.wtf {
	background:url(../images/work_new/the_ghost_of/wtf.jpg) no-repeat top center;
}

div.tgo {
	background:url(../images/work_new/the_ghost_of/tgo.jpg) no-repeat top center;
}

div.dragon {
	background:url(../images/work_new/the_ghost_of/dragon.jpg) no-repeat top center;
}

div.paper-deer {
	background:url(../images/work_new/the_ghost_of/paperdeer.jpg) no-repeat top center;
}

div.cover {
	background:url(../images/work_new/the_ghost_of/cover.jpg) no-repeat top center;
}
	
div.mvmnt {
	background:url(../images/work_new/the_ghost_of/mvmnt.jpg) no-repeat top center;
}

div.cube {
	background:url(../images/work_new/for_friends/undergrowth_cube.jpg) no-repeat top center;
}

div.undergrowth-mnt {
	background:url(../images/work_new/for_friends/undergrowth_mnt2.jpg) no-repeat top center;
}

div.mtbtz {
	background:url(../images/work_new/for_friends/mtbtz.jpg) no-repeat top center;
}

div.bmfb {
	background:url(../images/work_new/for_friends/bmfb.jpg) no-repeat top center;
}

div.arrival {
	background:url(../images/work_new/for_friends/arrival.jpg) no-repeat top center;
}

div.pip {
	background:url(../images/work_new/for_friends/pip.jpg) no-repeat top center;
}

div.solstice {
	background:url(../images/work_new/for_friends/solstice_front.jpg) no-repeat top center;
}

div.zodiac {
	background:url(../images/work_new/for_friends/zodiac_gemini.jpg) no-repeat top center;
}

div.random {
	background:url(../images/work_new/for_friends/random.jpg) no-repeat top center;
}

div.sticker {
	background: url(../images/work_new/for_friends/sticker.jpg) no-repeat top center;
}
	
@media (max-width: 1092px) {
  #words-container {
    margin: 559px 0px 0px 60px;
	width: 145px;
	height: 103px;
  }
  
h1 {
	 font-size: 14px; 
	 }
  
#follow-box {
    margin: 580px 0px 0px 60px;
	width: 180px;
	height: 80px;
  }
  
.follow-icons {
	height: 80px;
	width: 80px;
	margin: 0px -4px 0px 0px;
	  }
  
#nav {
	  font-size: 11px;
	  letter-spacing: 7.35px;
	  margin:30px 0px 0px 61px;
	  }
	  
.lineVertical {
		height: 400px;
		} 
		
#title {
	margin: -15px 310px 0px 60px;
	}
	
#tgo-thumbs {
	margin: 137px 0px 100% 60px;
	
}

#ff-thumbs {
	margin: 137px 0px 100% 60px;
	
}

.lineHorizontal {
	
	}
	
#work-container {
	margin: 137px 0px 0px 260px;

	}

}


	
#preloader:after{
    display:none;
    content: url(../images/work_new/the_ghost_of/coffee.jpg)
			 url(../images/work_new/the_ghost_of/deer.jpg) 
			 url(../images/work_new/the_ghost_of/paper.jpg)
			 url(../images/work_new/the_ghost_of/butterfly.jpg)
			 url(../images/work_new/the_ghost_of/wtf.jpg)
			 url(../images/work_new/the_ghost_of/tgo.jpg)
			 url(../images/work_new/the_ghost_of/dragon.jpg) 
			 url(../images/work_new/the_ghost_of/paperdeer.jpg)
			 url(../images/work_new/the_ghost_of/cover.jpg)
			 url(../images/work_new/the_ghost_of/mvmnt.jpg) 
			 url(../images/work_new/for_friends/undergrowth_cube.jpg) 
			 url(../images/work_new/for_friends/undergrowth_mnt2.jpg)
			 url(../images/work_new/for_friends/mtbtz.jpg)
			 url(../images/work_new/for_friends/bmfb.jpg) 
			 url(../images/work_new/for_friends/arrival.jpg) 
			 url(../images/work_new/for_friends/pip.jpg) 
			 url(../images/work_new/for_friends/solstice_front.jpg)
			 url(../images/work_new/for_friends/zodiac_gemini.jpg)
			 url(../images/work_new/for_friends/random.jpg)
			 url(../images/work_new/for_friends/sticker.jpg);

}
	