@charset "UTF-8";
/* CSS Document */


*{
	margin:0;
	padding:0;
	}

body {
	background:url(../images/work/bg1_dark.jpg);
	background-color: rgba(3,3,3,1.00);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	overflow: hidden;
	z-index: -100;
	}
	
#container {
	width: 1150px;
	height: 768px;
	margin-left: auto;
	margin-right: auto;
	background:url(../images/work/bg1.jpg) no-repeat center center fixed;
	background-size:cover;
	overflow: hidden;
	z-index: -90;
	box-shadow: 5px 5px 7px #040404
	}
	
#invisible-header {
	float:left;	width: 100%;
	height: 30px;

	}

#header {
	float:left;
	width: 100%;
	margin: 40px 50px 30px 0px;
	position: absolute;
	}
	
#nav {
	font-family: "Mezzana font";
	font-size: 14px; 
	float: left;
	margin:10px 0px 0px 650px;
	width: 423px;
	letter-spacing: 5px;
	color: white;
	position: absolute;
	}
	
.theGhostOf {
	float: left;
	}
	
.lineOne {
	float:left;
	width: 1px;
	height: 18px;
	background-color: white;
	margin: 0px 18px 0px 15px;
	}
	
.forFriends {
	float:left;
	}
	
.lineTwo {
	float:left;
	width: 1px;
	height: 18px;
	background-color: white;
	margin: 0px 18px 0px 15px;
	}
	
.info {
	float:left;
	}
	
#title {
	font-family: "Mezzana font";
	font-size: 14px; 
	letter-spacing: 5px;
	width: 270px;
	position: absolute;
	margin: 10px 310px 0px 40px;
	float: left;
	}
	
	
a {
	text-decoration: none;
	color: white;
	}
	
@font-face {
	font-family: "Mezzana font";
	src: url(../font/Mezzana%20font.ttf)	
	}

#tgo-thumbs {
	width: 150px;
	height: 337.5px;
	margin: 127px 0px 100% 60px;
	position: relative;
	float: left;
	overflow:scroll;
}

#ff-thumbs {
	width: 150px;
	height: 337.5px;
	margin: 127px 0px 100% 60px;
	position: relative;
	float: left;
	overflow:scroll;
}

.title {
	position: relative;
	margin: 20px 0px 0px 20px;
	float: left;
	}
	
.lineVertical {
	background-color: white;
	height: 345px;
	width: 1px;
	margin: 107px 0px 100% 230px;
	position: absolute;
	float: left;
	}
	
#invisible-work-container {
	width: auto;
	max-width: 600px;
	max-height: 580px;
	min-height: 300px;
	min-width: 300px;
	height: auto;
 	position: absolute;
	background-size:contain;
	margin: 0px 0px 0px 0px;
	top: 127px;
	left: 220px;
	}
	
#work-container {
	width: 50%;
	height: 100%;
	max-width: 535px;
	max-height: 535px;
	min-width: 200px;
	min-height: 200px;
	float: left;
	background: contain;
  	position: absolute;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	margin: 107px 0px 0px 245px;

	}

#work {
	height: 100%;
	width: 100%;
	max-width: 535px;
	max-height: 535px;
	float: left;
	background-size:contain;
  	position: relative;
	}

div.coffee {
	background:url(../images/work_new/the_ghost_of/coffee.jpg) no-repeat top center;
}

div.deer {
	background:url(../images/work/road_to_deer_boss_black_mnt_no_sig_web.gif) no-repeat top center;
}
	
div.test {
	background:url(../images/thumbs/tgo_paper_test2_web.jpg) no-repeat top center;
}
	
div.butterfly {
	background:url(../images/work_new/the_ghost_of/butterfly.jpg) no-repeat top center;
}

div.wtf {
	background:url(../images/work_new/the_ghost_of/wtf.jpg) no-repeat top center;
}

div.tgo {
	background:url(../images/work_new/the_ghost_of/tgo.jpg) no-repeat top center;
}

div.dragon {
	background:url(../images/work_new/the_ghost_of/dragon.jpg) no-repeat top center;
}

div.paper-deer {
	background:url(../images/work_new/the_ghost_of/paperdeer.jpg) no-repeat top center;
}

div.cube {
	background:url(../images/work_new/for_friends/undergrowth_cube.jpg) no-repeat top center;
}

div.undergrowth-mnt {
	background:url(../images/work_new/for_friends/undergrowth_mnt2.jpg) no-repeat top center;
}

div.mtbtz {
	background:url(../images/work_new/for_friends/mtbtz.jpg) no-repeat top center;
}

div.bmfb {
	background:url(../images/work_new/for_friends/bmfb.jpg) no-repeat top center;
}

div.arrival {
	background:url(../images/work_new/for_friends/arrival.jpg) no-repeat top center;
}

div.pip {
	background:url(../images/work_new/for_friends/pip.jpg) no-repeat top center;
}

div.solstice {
	background:url(../images/work_new/for_friends/solstice_front.jpg) no-repeat top center;
}

div.zodiac {
	background:url(../images/work_new/for_friends/zodiac_gemini.jpg) no-repeat top center;
}


div.info-box {
	
	}
	
#words-container {
	background-color: rgba(0,0,0,0.7);
	max-width: 500px;
	max-height: 200px;
	height: auto;
	width: 200px;
	position: absolute;
	float: left;
	margin: 107px 0px 0px 830px;  
	padding: 20px; 
	background: contain;
	overflow-x: scroll;
	}
	

	
#tgo-thumbs img {
	height: 75px;
	width: 75px;
	border: none;
	overflow: hidden;
	float:left;
	}
	
#ff-thumbs img {
	height: 75px;
	width: 75px;
	border: none;
	overflow: hidden;
	float:left;
	}
	
	
h1 {
	font-family: "Mezzana font";
	font-size: 20px;
	color: white;
	padding-bottom: 10px;
	letter-spacing: 3px;
	}
		
p {
	font-family: "Mezzana font";
	font-size: 12px;
	color: white;
	line-height:17px;
	}
	

#info-nav {
	width: 300px;
	height: 50px;
	margin: 147px -25px 100% 30px;
	position: relative;
	float: left;
	font-family: "Mezzana font";
	font-size: 14px; 
	letter-spacing: 5px;
	line-height: 10px;
	}
	
.about {
	width: 100px;
	
	}
	
	
#answer1, #answer2, #answer3, #answer4 {
	display: none;
	}
	
#answer {
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 500px;
	float: left;
	background-size:contain;
  	position: relative;
	}
	
.me:after {
	content: "Meoijoijoijoi";
	text-decoration: none;
	color: white;
	font-family: "Mezzana font";
	font-size: 14px; 
	letter-spacing: 5px;
	line-height: 40px;
	}
	
.tgo-info:after {
	content: "aowofwohiefoaijefoijae";
	text-decoration: none;
	color: white;
	font-family: "Mezzana font";
	font-size: 14px; 
	letter-spacing: 5px;
	line-height: 40px;
	}
	
	
#test-id1 {
	position:absolute;
	height: 500px;
	width: 500px;
	background-color: pink;
	display:none;
	
	}
	
#test-id2 {
	position:absolute;
	height: 500px;
	width: 500px;
	background-color: red;
	display:block;
	
	}
	
.test-class {
	background-color: red;
	display: none;
	
	}
	
.hidden {
	display: none;
	}
	
.info-box-nav {
	font-family: "Mezzana font";
	font-size: 15px;
	color: white;
	padding-bottom: 10px;
	letter-spacing: 5px;
	float:left;
	margin: 30px 70px 5px 30px;
	}
	
#info-box {
	font-family: "Mezzana font";
	font-size: 15px;
	color: white;
	line-height: 20px;
	letter-spacing: 1px;
	}
	
#me-body {
	margin: 30px 0px 0px 30px;
	float: left;
	}
	
#tgo-body {
	margin: 30px 0px 0px 30px;
	float: left;
	}
	
#contact-body {
	margin: 30px 0px 0px 30px;
	float: left;
	}
	
#follow-box {
	background-color: rgba(0,0,0,0.7);
	height: auto;
	width: 60px;
	position: absolute;
	margin: 107px 0px 0px 830px;  
	display: none;
	}
	
.follow-icons {
	height: 40px;
	width: 40px;
	background: contain;
	margin: 10px 5px 5px 10px;
	}
	
	
@media (max-width: 1072px) {
  #words-container {
    margin: 445px 0px 0px 60px;
	width: 132px;
	height: 196px;
  }
  
  #follow-box {
    margin: 445px 0px 0px 60px;
	width: 172px;
	height: 236px;
  }
  
  #nav {
	  font-size: 10px;
	  }
	  
	.lineVertical {
		height: 320px;
		} 
		
#title {
	margin: 0px 310px 0px 60px;
	}

#nav {
	margin:35px 0px 0px 60px;
	
	}

}